/* .header-main {
    border: 2px solid transparent;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    font-size: 16px;
    margin: auto;
    text-align: center;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1.5fr 1.5fr 5fr 1fr;
    font-family: 'Lato', sans-serif;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    box-sizing: border-box;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 2px 6px 2px rgba(60, 64, 67, 0.149); 
}
.contenido {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
}

.logos{
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
}
.shopName {
    font-size: 28px; 
    font-weight: bold; 
    font-family: 'Arial', sans-serif; 
    color: #333; 
    text-decoration: underline; }
.logos {
    display: flex;
    align-items: center;
}

.logos a {
    margin: 0 10px; 
}
.logos a:hover {
    color: #007bff;
}

.logos .addedToCart,
.logos .userIcon {
    font-size: 24px;
} */